.container {
    width: 100%;
    text-align: center;
}
.title {
    padding: 20px 0;
    border-radius: 15px;
    background-color: rgb(16, 17, 17);
    color: #d2a249;
}
.mapsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    padding: 20px 7% 0 7%;
}
.map {
    width: 100%;
}
.mapNav {
    margin-bottom: 10px;
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
}
.arrow-button {
    width: 0;
    height: 0;
    border-style: solid;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}
.left-arrow {
    border-style: solid;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    border-width: 15px 25px 15px 0;
    border-color: transparent white transparent transparent;
}
.right-arrow {
    border-style: solid;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    border-width: 15px 0 15px 25px;
    border-color: transparent transparent transparent white;
}