<div class="container">
    <p class="title">Snake</p>
    <div class="options">
        <a id='game' class='option' routerLink="/snake/menu/maps">Game</a>
        <a id='options' class='option' routerLink="/snake/menu/rules">Options</a>
        <a id='addMap' class='option' routerLink="/snake/menu/rules">Add map</a>
        <a id='gamesHistory' class='option' routerLink="/snake/menu/rules">Games history</a>
        <a id='rules' class='option' routerLink="/snake/menu/rules">Rules</a>
    </div>
</div>