.container {
    width: 100%;
  }
.title {
    color: rgb(147, 212, 147);
    font-family: Kristen ITC;
    text-align: center;
    font-size: 5rem;
}
.options {
    display: flex;
    justify-content: center; /* Wyrównuje elementy na środku w poziomie */
    align-items: center; /* Wyrównuje elementy na środku w pionie */
    flex-wrap: wrap; /* Pozwala elementom zawijać się do nowego wiersza */
    gap: 10px; /* Odstęp między elementami */
    margin-top: 75px;
}

.option {
    font-family: Kristen ITC;
    font-size: 2rem;
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
}
#game {
    background-color: rgb(212, 152, 147);
    color: rgb(99, 24, 17);
}
#options {
    background-color: rgb(187, 212, 147);
    color: rgb(57, 84, 14);
}
#addMap {
    background-color: rgb(147, 212, 197);
    color: rgb(16, 76, 62);
}
#gamesHistory {
    background-color: rgb(206, 170, 219);
    color: rgb(76, 22, 96);
}
#rules {
    background-color: rgb(231, 227, 161);
    color: rgb(75, 72, 17);
}
a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding-right: 10px;
    padding-right: 10px;
}