<div id='container'>
    <div id='topPanel' [ngStyle]="{'width': gameState.getBoardWidthInPixels()+9+'px'}">
        <p class='bestScore'>Best Score: {{ gameState.bestScore }} </p>
        <p class='currentScore'>Current Score: {{ gameState.currentScore }} </p>
        <div class="optionsContainer">
            <li class="options">
                <div class="optionsTitle">
                    <div class="optionsTitleText">Options</div>
                    <div class="optionsTitleArrow">&#9662;</div>
                </div>  
                <ul class="dropDownOptions">
                    <li class="option" (click)="onRestart(false)">Restart game</li>
                    <li *ngIf="this.isFixedMap" class="option" (click)="onRestart(true)">Generate new map</li>
                </ul>
            </li>
        </div>    
    </div>
    <div class='canvas-container'>
        <canvas id="bgCanvas" class="canvas-layer" #bgCanvas></canvas>
        <canvas id="gameCanvas" class="canvas-layer" #gameCanvas></canvas>
        <canvas id="gridCanvas" class="canvas-layer" #gridCanvas></canvas>
    </div>
</div>