<div class="container">
    <div class="side-panel">
        <div *ngIf="!isLoading">
            <app-user-data *ngIf="!isEditMode" [userData]="userData"></app-user-data>
            <div class="user-data-form">
                <app-user-data-form *ngIf="isEditMode" [userData]="userData" (newUserData)="setNewUserData($event)">
                </app-user-data-form>
            </div>
        </div>
        <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <div class="switch-mode-button">
            <button type="button" (click)="onSwitchMode()">{{ isEditMode ? 'Cancel' : 'Edit data' }}</button>
        </div>
    </div>
    <div class="user-maps">
        <div class="nav">
            <button class="nav-element" [ngClass]="{'selected-user-maps-nav-element': isShowUserMaps}"
                (click)="onShowUserMaps()">My maps</button>
            <button class="nav-element" [ngClass]="{'selected-add-map-nav-element': !isShowUserMaps}"
                (click)="onShowAddMapsForm()">{{ editMap ? 'Edit' : 'Add' }} map</button>
        </div>
        <app-user-game-maps (editMapId)="setEditMap($event)" *ngIf="isShowUserMaps"></app-user-game-maps>
        <app-game-map-add [editMap]="editMap" (isShowUserMaps)="showUserMaps($event)"
            *ngIf="!isShowUserMaps"></app-game-map-add>
    </div>
</div>