<div class="game-map-container">
    <div class="game-map-name">
        <h2>{{ gameMap.name }}</h2>
    </div>
    <div #gameMapContainer></div>
    <div class="game-map-info">
        <div class="stats-info">
            <p>Highest score: {{ userScore ? userScore.highestScore : 0 }}</p>
            <p>Game counter: {{ userScore ? userScore.gamesNumber : 0 }}</p>
        </div>
        <p 
            *ngIf="gameMap.authorUsername && gameMap.authorId" 
            title="{{ gameMap.authorId }}">
            Author: {{ gameMap.authorUsername }}
        </p>
    </div>
</div>

