.container {
    width: 70%;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    display: flex;
    text-align: center;
    border-radius: 15px;
    background-color: rgb(16, 17, 17);
    color: #ccc;
}

.nav-element {
    height: 50px;
    border: none;
    width: 50%;
    color: #ccc;
    background-color: transparent;
    cursor: pointer;
}

.selected-official-nav-element {
    background-color: #d2a249;
    color: black;
    font-weight: bold;
    border-radius: 15px 0 0 15px;
}

.selected-users-nav-element {
    background-color: #d2a249;
    color: black;
    font-weight: bold;
    border-radius: 0 15px 15px 0;
}

.game-maps-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    padding: 20px 7% 0 7%;
}

.game-map {
    width: 100%;
}

.game-map-nav {
    margin-bottom: 10px;
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
}

.arrow-button {
    width: 0;
    height: 0;
    border-style: solid;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

.left-arrow {
    border-style: solid;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    border-width: 15px 25px 15px 0;
    border-color: transparent white transparent transparent;
}

.right-arrow {
    border-style: solid;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    border-width: 15px 0 15px 25px;
    border-color: transparent transparent transparent white;
}

@media only screen and (max-width: 1100px) {
    .container {
        width: 90%;
    }
}
@media only screen and (max-width: 700px) {
    .game-maps-container {
        grid-template-columns: repeat(1, 1fr);
    }
}