<div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>
<div class="container" *ngIf="!isLoading">
    <div class="nav">
        <button 
        class="nav-element" 
        [ngClass]="{'selected-official-nav-element': isOfficialMaps}"
        (click)="onShowOfficialMaps()">Official maps</button>
        <button 
        class="nav-element" 
        [ngClass]="{'selected-users-nav-element': !isOfficialMaps}"
        (click)="onShowUsersMaps()">Users maps</button>
    </div>
    <div class="mapsContainer">
        <app-game-map *ngFor="let currentMap of getDisplayedMaps()" [map]="currentMap" class="map" (click)="onStartGame(currentMap.id)"></app-game-map>
    </div>
    <div class="mapNav">
        <div class="left-arrow" (click)="onGetPreviousMaps()"></div>
        <span>{{ displayedMapsStartIndex / 6 + 1 }}/{{ isOfficialMaps ? pagesNumber : unOfficialMapsPagesNumber }}</span>
        <div class="right-arrow" (click)="onGetNextMaps()"></div>
    </div>
</div>
