<div class="mapsContainer">
    <app-game-map 
    *ngFor="let currentUserMap of getDisplayedUserMaps(); let i = index" 
    [map]="currentUserMap" 
    [ngStyle]="{
        'border': i === selectedUserMapArrayId ? '2px solid #eaea4e' : '2px solid black',
        'border-radius': '15px'
    }" 
    (click)="onSelectMap(i)"></app-game-map>
    <h2 *ngIf="userMaps.length === 0">You don't have maps</h2>
</div>
<div class="bottom-panel">
    <div class="buttons">
        <button type="button" (click)="onStartGame()" [disabled]="selectedUserMapArrayId === null">Start game</button>
        <button type="button" (click)="onEditMap()" [disabled]="selectedUserMapArrayId === null">Edit map</button>
        <button type="button" (click)="onDeleteMap()" [disabled]="selectedUserMapArrayId === null">Delete map</button>
        <button type="button" (click)="onPublishMap()" [disabled]="selectedUserMapArrayId === null">Publish map</button>
        
    </div>
    <div class="mapNav">
        <div class="left-arrow" (click)="onGetPreviousUserMaps()"></div>
        <span>{{ displayedMapsStartIndex / 6 + 1 }}/{{ this.pagesNumber }}</span>
        <div class="right-arrow" (click)="onGetNextUserMaps()"></div>
    </div>
</div>