.comment {
    display: flex;
}
.user-avatar {
    margin-right: 10px;
    min-width: 50px;
    width: 50px;
}
.comment-data{
    display: flex;
}
.username {
    color: rgb(210, 162, 73);
}
.comment-content {
    text-align: justify;
}