<div class="comment">
    <div class="user-avatar">
        <app-user-avatar [userAvatar]="postComment.authorAvatar"></app-user-avatar>
    </div>
    <div class="container">
        <div class="comment-data">
            <span class="username" title="{{ postComment.authorId }}">{{ postComment.authorUsername }}</span>&nbsp;
            <span class="comment-date">{{ getCommentDate() }}</span>
        </div>
        <div class="comment-content">
            {{ postComment.content }}
        </div>
    </div>
</div>