<div id='container'>
    <div id='topPanel'>
        <p class='bestScore'>Best Score: {{ gameState.bestScore }} </p>
        <p class='currentScore'>Current Score: {{ gameState.currentScore }} </p>
        <div class="optionsContainer">
            <li class="options">
                <div class="optionsTitle">
                    <div class="optionsTitleText">Options</div>
                    <div class="optionsTitleArrow">&#9662;</div>
                </div>  
                <ul class="dropDownOptions">
                    <li class="option" (click)="onRestart(false)">Restart game</li>
                    <li class="option" (click)="onRestart(true)">Generate new map</li>
                </ul>
            </li>
        </div>    
    </div>
    <canvas 
        id="canvas" 
        [width]='gameState.getBoardWidthInPixels()' 
        [height]='gameState.getBoardHeightInPixels()' 
        #canvas>
    </canvas>
   
</div>