<div class="container">
    <p class="title">Choose map</p>
    <div class="mapsContainer">
        <app-map *ngFor="let currentMap of displayedMaps" [map]="currentMap" class="map" (click)="onStartGame(currentMap.id)"></app-map>
    </div>
    <div class="mapNav">
        <div class="left-arrow" (click)="onGetPreviousMaps()"></div>
        <span>{{ displayedMapsStartIndex / 4 + 1 }}/{{ this.pagesNumber }}</span>
        <div class="right-arrow" (click)="onGetNextMaps()"></div>
    </div>
</div>
