<div class="container">
    <div *ngIf="isLoading" style="text-align: center;">
        <app-loading-spinner></app-loading-spinner>
    </div>
    <div *ngIf="!isLoading" class="post">
        <div class="title">
            <h1>{{ postData.title }}</h1>
        </div>
        <div class="image">
            <img src="{{ postData.imageUrl }}" alt="message image" />
        </div>
        <div class="content">
            <p>{{ postData.content }}</p>
        </div>
        <hr>
        <div class="comments">
            <div class="comments-window">
                <div class="post-comment" *ngFor="let currentPostComment of postComments">
                    <app-post-comment [postComment]="currentPostComment"></app-post-comment>
                </div>
            </div>
            <div class="comment-form" *ngIf="userId">
                <textarea row="3" placeholder="Write a comment..." [(ngModel)]="currentComment"></textarea>
                <button type="button" (click)="onAddNewComment()">Send</button>
            </div>
        </div>
    </div>
</div>