<div class="container">
    <h2>Edit data</h2>
    <div class="form-error" *ngIf="error">
        <p>{{ error }}</p>
    </div>
    <div *ngIf="isLoading" style="text-align: center;">
        <app-loading-spinner></app-loading-spinner>
    </div>
    <form [formGroup]="userDataForm" (ngSubmit)="onEditUserData()" *ngIf="!isLoading">
        <div class="form-group">
            <p class="custom-label">Avatar:</p>
            <div class="avatar-panel">
                <div class="avatar">
                    <div *ngFor="let avatarRow  of avatarLength; let i = index" class="avatarColumn">
                        <div (click)="onChangeColor(i, j)"
                            [ngStyle]="{'background-color': avatarArray[i][j], 'border': isShownGrid ? '1px solid black' : 'none'}"
                            *ngFor="let avatarColumn  of avatarLength; let j = index" class="avatarElement">
                        </div>
                    </div>
                </div>
                <div class="select-color">
                    <span> Select color:</span>
                    <input type="color" (change)="onColorChange($event)">
                </div>
                <div class="avatar-buttons">
                    <button type="button" (click)="onSetCurrentAvatar()">Current</button>
                    <button type="button" (click)="onSetDefaultAvatar()">Default</button>
                    <button type="button" (click)="onResetAvatar()">Reset</button>
                    <button type="button" (click)="onChangeGridMode()">{{ isShownGrid ? 'Hide' : 'Show' }} grid</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="default-label" for="username">Username</label>
            <input type="text" id="username" class="form-control" formControlName="username">
            <p class="input-error"
                *ngIf="!userDataForm.get('user.username')?.valid && userDataForm.get('user.username')?.touched">
                Please enter a valid username!
            </p>
        </div>
        <div class="form-group">
            <label class="default-label" for="birthdate">Birthdate</label>
            <input type="date" id="birthdate" class="form-control" formControlName="birthdate">
            <p class="input-error"
                *ngIf="!userDataForm.get('user.birthdate')?.valid && userDataForm.get('user.birthdate')?.touched">
                Please enter a valid birthdate!
            </p>
        </div>
        <div class="form-group">
            <p class="custom-label">Gender:</p>
            <div class="radio" *ngFor="let gender of genders">
                <label>
                    <input type="radio" formControlName="gender" [value]="gender">{{ gender }}
                </label>
            </div>
        </div>
        <div class="form-group" formGroupName="roles">
            <p class="custom-label">Roles:</p>
            <div class="checkbox" *ngFor="let role of roles">
                <label>
                    <input type="checkbox" [formControlName]="role">{{ role }}
                </label>
            </div>
            <p class="input-error"
                *ngIf="!userDataForm.get('user.roles')?.valid && userDataForm.get('user.roles')?.touched">
                Please select at least one role!
            </p>
        </div>
        <div formArrayName="favGames">
            <p class="custom-label">Your favourite games:</p>
            <div class="form-group fav-game-container" *ngFor="let favGamesControl of favGamesControls; let i = index">
                <div class="fav-game-input-div">
                    <input type="text" class="form-control" [formControlName]="i">
                </div>
                <div class="fav-game-btn-div">
                    <button type="button" class="fav-game-btn" (click)="onDeleteFavGame(i)"
                        [disabled]="i === 0">X</button>
                </div>
            </div>
            <p class="input-error"
                *ngIf="!userDataForm.get('user.favGames')?.valid && userDataForm.get('user.favGames')?.touched">
                Please enter at least one favourite game!
            </p>
            <div class="add-game-btn-div">
                <button class="add-game-btn" type="button" (click)="onAddFavGame()">Add game</button>
            </div>
        </div>
        <div class="form-buttons">
            <button class="submit-button" type="submit" [disabled]="!userDataForm.valid">
                Edit
            </button>
        </div>
    </form>
</div>