.game-map-container {
    margin: auto;
    background-color: rgb(36, 37, 38);
    padding: 10px 20px;
    border-radius: 15px;
    color: #c7b89c;
}
.game-map-name {
    margin-bottom: 10px;
}
img {
    border: 3px solid black;
    width: 100%;
    height: auto;
}
.game-map-info {
    text-align: center;
}
.stats-info {
    display: flex;
    justify-content: space-between;
}
