<div class="container">
    <div class="user-data">
        <div class="avatar">
            <div *ngFor="let avatarRow  of avatarLength; let i = index" class="partAvatar1">
                <div 
                    [ngStyle]="{'background-color': avatarArray[i][j]}"
                    *ngFor="let avatarColumn  of avatarLength; let j = index" 
                    class="partAvatar2">
                </div>
            </div>
        </div>f
    </div>
    <div class="user-maps">f
    
    </div>
</div>
