<div class="container">
    <div class="side-panel">
            <app-user-data *ngIf="!isEditMode" [userData]="userData"></app-user-data>
            <app-user-data-edit *ngIf="isEditMode" [userData]="userData" (newUserData)="setNewUserData($event)"></app-user-data-edit>
            <div class="switch-mode-button">
                <button type="button" (click)="onSwitchMode()">{{ isEditMode ? 'Cancel' : 'Edit data' }}</button>
            </div>
            
    </div>
    <div class="user-maps">
    
    </div>
</div>
